
*.suo
*.dll
*.pdb
Assemblies/PageRoute/obj/Debug/PageRoute.csproj.FileListAbsolute.txt
Assemblies/PageRouteDemoApp/obj/Debug/PageRouteDemoApp.csproj.FileListAbsolute.txt
Assemblies/PageRouteDemoApp/obj/Debug/ResolveAssemblyReference.cache
*.dll
